html { /* etiqueta raíz */
  font-size: 62.5%;
}
p {
  font-size: 2rem; /* 20px */
} 

a{
  text-decoration: none;
  color: #EAEAEA;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap');